<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
        {% block navbar %}{% endblock %}

        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }} mb-0 text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    {% block body %}{% endblock %}

    {% block javascripts %}
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.width = "1px";
            }

            function closeNav() {
                document.getElementById("main").style.marginLeft= "0";
                document.getElementById("mySidebar").style.width = "0";
            }
        </script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>
